@import url('https://fonts.googleapis.com/family=roboto&display=swap')
body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
/* input, button {
    font: inherit;
} */

p {             
    line-height: 1.5;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.5em; */
    /* font-weight: 900; */
    font-family: 'Courier New', Courier, monospace;
}
