html { /* specificity 0,0,0,1 because its an element and can be overriden*/
    font-size: 22px
}

body {
    background-color: #f0f4f8; /* Light background for readability */
    color: #333; /* Text color for main readability */
    margin: 20;
    padding: 20;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4a90e2;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

a {
    color: #bde0fe;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0073e6;
    text-decoration: underline;
}

a:visited {
    color: #03045e;
}

a:active {
    color: #003d73;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #4a90e2;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4a90e2;
    color: #fff;
}

td {
    background-color: #d3e6f5;
}
